.section {
  padding-top: 150px;
  .comands-wrapper {
    .content-comands {
      .h1 {
        color: #DAD6CA;
        font-family: "Istok Web" sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
      }
      p {
        color: #d1d5db;
        font-size: 18px;
        margin-top: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
      }
    }
  }
  .comandsPhoto {
    margin-top: 4rem;
    display: flex;
    gap: 30px;
    .flexComands {
      border-radius: 10px;
      border: 1px solid #DAD6CA;
      display: inline-flex;
      box-shadow: 2px 1px 12px 5px #5e626333;
      height: 478px;
      padding: 10px;
      box-shadow: -1px 4px 7px 7px rgba(112, 103, 128, 0.4);
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      width: 370px;
      height: 478px;
      h2 {
        color: #DAD6CA;
        font-family: "Istok Web" sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 330px;
      }
      p {
        color: #d1d5db;
        font-family: "Istok Web" sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .imges {
        width: 30px;
        border-radius: 30px;
      }
      .icons {
        display: inline-flex;
        align-items: flex-start;
        gap: 5px;
        width: 340px;
      }
      .imgSyimyk {
        width: 350px;
        height: 300px;
        border-radius: 10px;
      }
    }

  }
}
